:root {
  --primary: #7048e8;
  --accent: #00a8e8;
  --warning: #ff933b;
  --success: #07b255;
  --error: #fe544a;
}

/* PRIMARY */
.primary-shd1 {
  background-color: color-mod(var(--primary) alpha(90%));
}

.primary-shd2 {
  background-color: color-mod(var(--primary) alpha(80%));
}

.primary-shd3 {
  background-color: color-mod(var(--primary) alpha(60%));
}

.primary-shd4 {
  background-color: color-mod(var(--primary) alpha(47%));
}

.primary-shd5 {
  background-color: color-mod(var(--primary) alpha(35%));
}

.primary-shd6 {
  background-color: color-mod(var(--primary) alpha(23%));
}

.primary-shd7 {
  background-color: color-mod(var(--primary) alpha(12%));
}

.bg-primary-dark {
  background-color: color-mod(#7048e8 blackness(20%));
}

/* ACCENT */
.accent-shd1 {
  background-color: color-mod(var(--accent) alpha(90%));
}

.accent-shd2 {
  background-color: color-mod(var(--accent) alpha(80%));
}

.accent-shd3 {
  background-color: color-mod(var(--accent) alpha(60%));
}

.accent-shd4 {
  background-color: color-mod(var(--accent) alpha(47%));
}

.accent-shd5 {
  background-color: color-mod(var(--accent) alpha(35%));
}

.accent-shd6 {
  background-color: color-mod(var(--accent) alpha(23%));
}

.accent-shd7 {
  background-color: color-mod(var(--accent) alpha(12%));
}

/* WARNING */
.warning-shd1 {
  background-color: color-mod(var(--warning) alpha(90%));
}

.warning-shd2 {
  background-color: color-mod(var(--warning) alpha(80%));
}

.warning-shd3 {
  background-color: color-mod(var(--warning) alpha(60%));
}

.warning-shd4 {
  background-color: color-mod(var(--warning) alpha(47%));
}

.warning-shd5 {
  background-color: color-mod(var(--warning) alpha(35%));
}

.warning-shd6 {
  background-color: color-mod(var(--warning) alpha(23%));
}

.warning-shd7 {
  background-color: color-mod(var(--warning) alpha(12%));
}

/* SUCCESS */
.success-shd1 {
  background-color: color-mod(var(--success) alpha(90%));
}

.success-shd2 {
  background-color: color-mod(var(--success) alpha(80%));
}

.success-shd3 {
  background-color: color-mod(var(--success) alpha(60%));
}

.success-shd4 {
  background-color: color-mod(var(--success) alpha(47%));
}

.success-shd5 {
  background-color: color-mod(var(--success) alpha(35%));
}

.success-shd6 {
  background-color: color-mod(var(--success) alpha(23%));
}

.success-shd7 {
  background-color: color-mod(var(--success) alpha(12%));
}


/* ERROR */
.error-shd1 {
  background-color: color-mod(var(--error) alpha(90%));
}

.error-shd2 {
  background-color: color-mod(var(--error) alpha(80%));
}

.error-shd3 {
  background-color: color-mod(var(--error) alpha(60%));
}

.error-shd4 {
  background-color: color-mod(var(--error) alpha(47%));
}

.error-shd5 {
  background-color: color-mod(var(--error) alpha(35%));
}

.error-shd6 {
  background-color: color-mod(var(--error) alpha(23%));
}

.error-shd7 {
  background-color: color-mod(var(--error) alpha(12%));
}
